.git
.vs
.vscode
**/.idea
**/.DS_Store

**/bin
**/obj
**/TestResults
**/*.user
**/*.suo
**/*.cache
**/*.log

**/node_modules

**/*.bak
**/*.mdf
**/*.ldf

observability/
scripts/
# Build / IDE
**/bin/
**/obj/
**/out/
**/.vs/
**/.vscode/
**/.idea/
**/*.user
**/*.suo

# Git
.git
.gitignore

# Docker
Dockerfile*
docker-compose*.yml
.dockerignore

# Docs & misc
*.md
!README.md
**/node_modules/

# Tests (si ajoutés plus tard)
**/TestResults/
**/*Tests/
